<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.com.lyz.base.dao.GG_CZRYDao">
  <resultMap id="BaseResultMap" type="org.com.lyz.base.model.po.GG_CZRY">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="mc" jdbcType="VARCHAR" property="mc" />
    <result column="mm" jdbcType="VARCHAR" property="mm" />
    <result column="sfzh" jdbcType="VARCHAR" property="sfzh" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="xb" jdbcType="INTEGER" property="xb" />
    <result column="csnyr" jdbcType="INTEGER" property="csnyr" />
    <result column="sjh" jdbcType="VARCHAR" property="sjh" />
    <result column="dlh" jdbcType="VARCHAR" property="dlh" />
    <result column="txdz" jdbcType="VARCHAR" property="txdz" />
    <result column="qx" jdbcType="INTEGER" property="qx" />
    <result column="zt" jdbcType="INTEGER" property="zt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mc, mm, sfzh, email, xb, csnyr, sjh, dlh,txdz, qx, zt
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from gg_czry
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from gg_czry
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.com.lyz.base.model.po.GG_CZRY">
    insert into gg_czry (id, mc, mm, sfzh, email,
    xb, csnyr, sjh, dlh, qx,
      zt,txdz)
    values (#{id,jdbcType=VARCHAR}, #{mc,jdbcType=VARCHAR}, #{mm,jdbcType=VARCHAR}, #{sfzh,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}
    #{xb,jdbcType=INTEGER}, #{csnyr,jdbcType=INTEGER}, #{sjh,jdbcType=VARCHAR}, #{dlh,jdbcType=VARCHAR}, #{qx,jdbcType=INTEGER},
      #{zt,jdbcType=INTEGER},#{txdz,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.com.lyz.base.model.po.GG_CZRY">
    insert into gg_czry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mc != null">
        mc,
      </if>
      <if test="mm != null">
        mm,
      </if>
      <if test="sfzh != null">
        sfzh,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="xb != null">
        xb,
      </if>
      <if test="csnyr != null">
        csnyr,
      </if>
      <if test="sjh != null">
        sjh,
      </if>
      <if test="dlh != null">
        dlh,
      </if>
      <if test="qx != null">
        qx,
      </if>
      <if test="zt != null">
        zt,
      </if>
      <if test="txdz != null">
        txdz,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mc != null">
        #{mc,jdbcType=VARCHAR},
      </if>
      <if test="mm != null">
        #{mm,jdbcType=VARCHAR},
      </if>
      <if test="sfzh != null">
        #{sfzh,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="xb != null">
        #{xb,jdbcType=INTEGER},
      </if>
      <if test="csnyr != null">
        #{csnyr,jdbcType=INTEGER},
      </if>
      <if test="sjh != null">
        #{sjh,jdbcType=VARCHAR},
      </if>
      <if test="dlh != null">
        #{dlh,jdbcType=VARCHAR},
      </if>
      <if test="qx != null">
        #{qx,jdbcType=INTEGER},
      </if>
      <if test="zt != null">
        #{zt,jdbcType=INTEGER},
      </if>
      <if test="txdz != null">
        #{txdz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.com.lyz.base.model.po.GG_CZRY">
    update gg_czry
    <set>
      <if test="mc != null">
        mc = #{mc,jdbcType=VARCHAR},
      </if>
      <if test="mm != null">
        mm = #{mm,jdbcType=VARCHAR},
      </if>
      <if test="sfzh != null">
        sfzh = #{sfzh,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="xb != null">
        xb = #{xb,jdbcType=INTEGER},
      </if>
      <if test="csnyr != null">
        csnyr = #{csnyr,jdbcType=INTEGER},
      </if>
      <if test="sjh != null">
        sjh = #{sjh,jdbcType=VARCHAR},
      </if>
      <if test="dlh != null">
        dlh = #{dlh,jdbcType=VARCHAR},
      </if>
      <if test="qx != null">
        qx = #{qx,jdbcType=INTEGER},
      </if>
      <if test="zt != null">
        zt = #{zt,jdbcType=INTEGER},
      </if>
      <if test="txdz != null">
        txdz = #{txdz,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.com.lyz.base.model.po.GG_CZRY">
    update gg_czry
    set mc = #{mc,jdbcType=VARCHAR},
      mm = #{mm,jdbcType=VARCHAR},
      sfzh = #{sfzh,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      xb = #{xb,jdbcType=INTEGER},
      csnyr = #{csnyr,jdbcType=INTEGER},
      sjh = #{sjh,jdbcType=VARCHAR},
      dlh = #{dlh,jdbcType=VARCHAR},
      qx = #{qx,jdbcType=INTEGER},
      txdz = #{txdz,jdbcType=VARCHAR},
      zt = #{zt,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!-- 自定义SQL -->
  <!-- 根据登录号、密码查询 -->
  <select id="selectByDlhMm" parameterType="java.lang.String" resultMap="BaseResultMap">
  select  <include refid="Base_Column_List" /> from gg_czry
    where dlh = #{dlh,jdbcType=VARCHAR}
    and mm = #{mm,jdbcType=VARCHAR}
  </select>
  <!-- 根据登录号查询 -->
  <select id="selectByDlh" parameterType="java.lang.String" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" /> from gg_czry
    where dlh = #{dlh,jdbcType=VARCHAR}
  </select>
  
  <select id="selectAllLimit" parameterType="java.lang.Integer" resultType="java.util.HashMap">
    select <include refid="Base_Column_List" /> from gg_czry
    <where>
      qx <![CDATA[ >= ]]> #{qx,jdbcType=INTEGER}
      <if test="mc != null and mc != ''">
        and mc LIKE #{mc,jdbcType=VARCHAR}
      </if>
    </where>
    limit #{pageMin,jdbcType=INTEGER},#{pageMax,jdbcType=INTEGER}
  </select>

</mapper>