<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angularJS登陆页面</title>
    <script type="text/javascript" src="../../../angular/angularJS/angular.min.js"></script>
</head>
<body ng-app="app">
<div class="row" ng-controller="byDate">
    <p style="margin-top:5rem">登陆系统</p>
    <div class="row" style="margin-top:5rem">
        <div class="col-xs-3">
            <input type="text" ng-model="dlh" class="form-control" placeholder="请输入登录号" >
        </div>
        <div class="col-xs-3">
            <input type="text" ng-model="mm" class="form-control" placeholder="请输入密码" >
        </div>

        <div class="col-xs-3">
            <button class="btn btn-primary" ng-click="searchByDate()">登陆</button>
        </div>
    </div>

</div>

<script>
    var a=angular.module('app',[]);
    a.controller('byDate',function ($http,$scope) {
        $scope.searchByDate = function() {
            $http({
                url: 'csaction',
                method: 'POST',
                data: {
                    dlh: $scope.dlh,
                    mm: $scope.mm
                }
            }).then(function successCallback(response) {
                console.log(response.data);
            }, function errorCallback(response) {
                console.log(response.data);
            });
        };
    })
</script>
</body>
</html>