<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- 对静态资源以servlet方式访问 -->
	<!-- <mvc:default-servlet-handler/> -->
	
	<!-- 静态资源不过滤 -->
	
	<!-- 包扫描器，扫描包下面的注解（@Controller，@Service 等等） -->
	<context:component-scan base-package="org.com.lyz.controller.**" />
	<context:component-scan base-package="org.com.lyz.service.**" />
	<!-- 开启web注解驱动：类型转换，时间处理，json处理 -->
	<mvc:annotation-driven />

	<mvc:interceptors>
		<!-- 使用bean定义一个Interceptor，直接定义在mvc:interceptors根下面的Interceptor将拦截所有的请求 -->
		<!--<bean class="org.com.lyz.interceptor.HandlerInterceptorAdapter"/>-->
		<mvc:interceptor>
            <mvc:mapping path="/**/**"/>
            <!--定义在mvc:interceptor下面的表示是对特定的请求才进行拦截的-->
            <bean class="org.com.lyz.interceptor.HandlerInterceptorAdapter">
				<property name="allowUrls">
					<list>
					<!-- 如果请求中包含以下路径，则不进行拦截 -->
						<value>/angular</value>
						<value>/assets</value>
						<value>/js</value>
						<value>/css</value>
						<value>/img</value>
						<value>/layui</value>
						<value>/layer</value>
						<value>/images</value>
						<value>/showImgs</value>
					</list>
				</property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<bean id="multipartResolver"
		  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="1000000000" />
	</bean>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/view/" />
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<!--<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
          
	</bean>
	-->
	
	
</beans>
